@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1,wght@0,400;1,700&display=swap');
.mainBackground {
    background: #476572;
}
.font {
    font-family: 'Lora', serif;
}
.about{
    background: #c0d0d7;
    font-family: 'Lora', serif;
    font-weight: 500;
}
.name {
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 2vw;
    letter-spacing: 2px;
}
.borderIMG{
    border-width: 6px;
    border-style: solid;
    border-color: #9A9A98;
    box-shadow: 40px 52px #D8C7BD;
}
.buttonUmow {
    color: white;
    transition: 0.3s;
}
.buttonUmow:hover {
    background: #8caab7;
    color: black !important;
    transition: 0.3s;
}
.consultations {
    font-family: 'Lora', serif;
    box-shadow: 1px 1px 26px 2px rgba(0,0,0,0.75);
}
.consulationMethod {
    border-width: 3px;
    border-style: solid;
    border-color: #9A9A98;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.consultationDescription {
    color: #545454;
}
.makeAppoitment {
    font-family: 'Lora', serif;
    box-shadow: 1px 1px 26px 2px rgba(0,0,0,0.75);
}
.carousel-inner {
    width:100%;
    max-height: 40vw !important;
}
.label {
    position: absolute;
    top:0;
    background: rgba(255,250,250, 0.5);
    box-shadow: 0px 0px 12px 12px rgba(255,250,250, 0.5);
    color: black;
}

.label_text{
    position: relative;
    color: black;
    text-shadow: gray;
}

.button {
    font-size: larger;
    position: absolute;
    bottom: 10%;
    color: black !important;
    padding: 5px;
    border: black solid 1px;
    transform: translateX(-50%);
}